body {
  background-color: rgb(177, 255, 233) !important;
}
h1 {
  font-family: "Press Start 2P", cursive;
  padding-top: 5px;
  padding-left: 10px;
  color: cornflowerblue;
}
h2,
h3,
h4,
h5 {
  padding-left: 10px;
  font-family: "Silkscreen", cursive;
}
#tempToday {
  padding-top: 40px;
  padding-left: 25px;
}
#form-search {
  padding-top: 16px;
}
#buttonLocation {
  padding-top: 16px;
  border: 10px;
}
#tempTodayCelsius {
  text-decoration: none;
}
#tempTodayFahrenheit {
  text-decoration: none;
}
.active {
  text-decoration: none;
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
  cursor: default;
}
.weatherappborder {
  border: 10px solid cornflowerblue;
  border-radius: 15px;
  padding: 16px;
  margin: 20px auto;
  max-width: 800px;
}
p {
  padding-left: 10px;
  text-align: center;
  font-family: "Silkscreen", cursive;
  font-size: large;
}
.weekdayname {
  margin: 0 auto;
  font-size: x-large;
}
.daysForecast {
  text-align: center;
  font-family: "Silkscreen", cursive;
  font-size: x-large;
}
.message {
  background-color: rgba(188, 215, 248, 0.898);
  border-radius: 15px;
  padding: 5px;
  text-align: center;
}
#mainImage {
  display: block;
  width: 150px;
}
.firstday:hover {
  background-color: rgb(247, 238, 219);
  border-radius: 15px;
  padding: 0px;
  border-style: inset;
}
.secday:hover {
  background-color: rgb(247, 219, 219);
  border-radius: 15px;
  padding: 0px;
  border-style: inset;
}
.thirdday:hover {
  background-color: rgb(156, 249, 203);
  border-radius: 15px;
  padding: 0px;
  border-style: inset;
}
.fourthday:hover {
  background-color: rgb(142, 249, 249);
  border-radius: 15px;
  padding: 0px;
  border-style: inset;
}
.weeklyForecast {
  background-color: rgba(230, 210, 241, 0.907);
  border-radius: 15px;
}
.link {
  text-decoration: none;
  color: cornflowerblue;
}
.todaysWeather {
  background-color: rgba(99, 99, 99, 0.057);
  border-radius: 15px;
}
